// styling of the car item
.car {
  height: 360px;
  width: 338px;
  box-shadow: 1px 1px 15px 1px #938f8f;
  border-radius: 5px;
  padding: 20px 20px;
  text-align: left;
  margin-left: 10px;

  // styling p tag
  p {
    font-size: 16px;
    font-weight: 400;
    color: #000;
  }

  // styling the btns container
  .car-btns {
    display: flex;
    column-gap: 10px;
    justify-content: center;

    // styling the btns
    button {
      font-size: 16px;
      background: #9c27b0;
      border: 1px solid #9c27b0;
      color: #fff;
      width: 80px;
      height: 40px;
    }
  }
}
